@{
    ViewData["Titulo"] = "Observatorio Fiscal";
    ViewData["Resumen"] = "Iniciativa sin fines de lucro que busca contribuir a la generación de un gasto público eficiente y centrado en las necesidades reales de las personas.";
}

<section class="row">
    <article class="col-md-12 col-lg-8 rowdiv">
        <div class="cuadro-contenido">
            <div class="cuadro-padding">
                <div class="row">
                    <div class="col-11">
                        <h2>Destacado</h2>
                    </div>
                    <div class="col-1 align-self-center text-right">
                        <a class="btn btn-xs"></a>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12 bar-destacado elegido" id="Destacado1">
                            <div class="cuadro-padding-destacado destacado-color">
                                <div class="div-absolute transparencia gris">
                                    <i class="material-icons md-100">insert_chart</i>
                                </div>
                                <div class="row tamDestadao">
                                    <div class="col-3 align-self-center">
                                        <i class="material-icons md-48">insert_chart</i>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <h4><a href="../visualizacion?id=9">Observatorio ciudadano de Compras Municipales</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 destacado-item-chico">
                            <div class="item-destacado-1">
                                <a href="../visualizacion?id=9">
                                    <img src="~/Content/images/destacado1.png" class="img-fluid" alt="Observatorio ciudadano de Compras Municipales" />
                                </a>
                                <p class="cuadro-padding-interno">
                                    Cómo se ajustó el Presupuesto 2016 al gasto (bruto) ejecutado, identificando las que gastaron menos y más de lo presupuestado.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 bar-destacado" id="Destacado2">
                            <div class="cuadro-padding-destacado destacado-color">
                                <div class="row tamDestadao">
                                    <div class="div-absolute transparencia gris">
                                        <i class="material-icons md-100">extension</i>
                                    </div>
                                    <div class="col-3 align-self-center">
                                        <i class="material-icons md-48">extension</i>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <h4><a href="../aplicacion/cuantoconstribuyesalestado">¿Cuánto aportas tú al Estado? </a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 destacado-item-chico">
                            <div class="item-destacado-2 hidden">
                                <a href="../aplicacion/cuantoconstribuyesalestado">
                                    <img src="~/Content/images/seccion/1001.png" class="img-fluid" alt="Cuánto contribuyes al Estado" />
                                </a>
                                <p class="cuadro-padding-interno">A continuación te presentamos una aplicación para saber, aproximadamente, cuánto contribuyes al Estado anualmente vía tus impuestos.</p>
                            </div>
                        </div>
                        <div class="col-12 bar-destacado" id="Destacado3">
                            <div class="cuadro-padding-destacado destacado-color">
                                <div class="div-absolute transparencia gris">
                                    <i class="material-icons md-100">content_paste</i>
                                </div>
                                <div class="row tamDestadao">
                                    <div class="col-3 align-self-center">
                                        <i class="material-icons md-48">content_paste</i>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <h4><a href="http://observatoriofiscal.cl/Blog/2017/08/como-incide-el-gobierno-de-turno-en-las-asignaciones-de-la-subdere/">Incidencia del gobierno de turno en las asignaciones...</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 destacado-item-chico">
                            <div class="item-destacado-3 hidden">
                                <a href="http://observatoriofiscal.cl/Blog/2017/09/radiografia-a-la-falta-de-control-del-sename/">
                                    <img src="~/Content/images/seccion/3067.png" class="img-fluid" alt="Incidencia del gobierno de turno en las asignaciones de la Subdere" />
                                </a>
                                <p class="cuadro-padding-interno">Ser oposición puede transformarse en una pérdida de fondos para las comunas</p>
                            </div>
                        </div>
                        <div class="col-12 bar-destacado" id="Destacado4">
                            <div class="cuadro-padding-destacado destacado-color">
                                <div class="div-absolute transparencia gris">
                                    <i class="material-icons md-100">insert_chart</i>
                                </div>
                                <div class="row tamDestadao">
                                    <div class="col-3 align-self-center">
                                        <i class="material-icons md-48">insert_chart</i>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <h4><a href="../visualizacion/repo/En-que-gasta-el-estado-por-ministerio">¿En qué gasta el Estado?</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 destacado-item-chico">
                            <div class="item-destacado-4 hidden">
                                <a href="../visualizacion/repo/En-que-gasta-el-estado-por-ministerio">
                                    <img src="~/Content/images/seccion/2002.png" class="img-fluid" alt="En que gasta el Estado por ministerio" />
                                </a>
                                <p class="cuadro-padding-interno">se presenta cómo se compone el Gasto del Gobierno Central Total a través de todas las instituciones de la Ley de Presupuestos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="cuadro-padding-interno">
                        <div class="row" id="destacado-item-grande">
                            <div class="col-12 item-destacado-1">
                                <figure class="text-center">
                                    <a href="../visualizacion?id=9">
                                        <img src="~/Content/images/destacado1.png" class="img-fluid" alt="Observatorio ciudadano de Compras Municipales" />
                                    </a>
                                </figure>
                                <h5><a class="celeste" href="../visualizacion?id=9">Observatorio ciudadano de Compras Municipales</a></h5>
                                <p>
                                    Primera etapa del proyecto de compras públicas que presenta los análisis de las adquisiciones municipales levantados con los ciudadanos.
                                </p>
                            </div>
                            <div class="col-12 item-destacado-2 hidden">
                                <figure class="text-center">
                                    <a href="../aplicacion/cuantoconstribuyesalestado">
                                        <img src="~/Content/images/seccion/1001.png" class="img-fluid text-center" alt="Cuánto constibuyes al Estado" />
                                    </a>
                                </figure>
                                <h5 ><a class="celeste" href="../aplicacion/cuantoconstribuyesalestado">¿Cuánto aportas tú al Estado?</a></h5>
                                <p>
                                    A continuación te presentamos una aplicación para saber, aproximadamente, cuánto contribuyes al Estado anualmente vía tus impuestos.
                                </p>
                            </div>
                            <div class="col-12 item-destacado-3 hidden">
                                <figure class="text-center">
                                    <a href="http://observatoriofiscal.cl/Blog/2017/08/como-incide-el-gobierno-de-turno-en-las-asignaciones-de-la-subdere/">
                                        <img src="~/Content/images/seccion/3067.png" class="img-fluid" alt="Radiografia a la falta de control del Sename" />
                                    </a>
                                </figure>
                                <h5><a class="celeste" href="http://observatoriofiscal.cl/Blog/2017/08/como-incide-el-gobierno-de-turno-en-las-asignaciones-de-la-subdere/"> Incidencia del gobierno de turno en las asignaciones de la Subdere </a></h5>
                                <p>
                                    Ser oposición puede transformarse en una pérdida de fondos para las comunas
                                </p>
                            </div>
                            <div class="col-12 item-destacado-4 hidden">
                                <figure class="text-center">
                                    <a href="../visualizacion/repo/En-que-gasta-el-estado-por-ministerio">
                                        <img src="~/Content/images/seccion/2002.png" class="img-fluid" alt="En que gasta el Estado por ministerio" />
                                    </a>
                                </figure>
                                <h5><a class="celeste" href="../visualizacion/repo/En-que-gasta-el-estado-por-ministerio">¿En qué gasta el Estado, por ministerios?</a></h5>
                                <p>
                                    se presenta cómo se compone el Gasto del Gobierno Central Total a través de todas las instituciones de la Ley de Presupuestos
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-md-6 col-lg-4 rowdiv">
        <div class="cuadro-contenido">
            <div class="cuadro-padding">
                <div class="row">
                    <div class="col-9">
                        <h2>Publicaciones</h2>
                    </div>
                    <div class="col-3 align-self-center text-right">
                        <a href="../publicacion" class="btn btn-xs">Ver más</a>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-12"><hr class="sinmargen blancoB" /></div>
                <div class="col-12">
                    <div class="selector">
                        <div class="cuadro-padding-interno">
                            <a class="row ult-height" href="http://observatoriofiscal.cl/Blog/2017/09/la-carrera-contrarreloj-para-cumplir-el-presupuesto-2017/">
                                <span class="row">
                                    <span class="col-4 align-self-center">
                                        <img src="~/Content/images/seccion/3073.png" class="img-fluid rounded" alt="Los dilemas de la ejecución presupuestaria en Chile" />
                                    </span>
                                    <span class="col-8 align-self-center">
                                        <h4>Los dilemas de la ejecución presupuestaria en Chile.</h4>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12"><hr class="sinmargen" /></div>
                <div class="col-12">
                    <div class="selector">
                        <div class="cuadro-padding-interno">
                            <a class="row ult-height" href="http://observatoriofiscal.cl/Blog/2017/09/las-huellas-de-las-elecciones-presidenciales-en-el-gasto-de-las-instituciones-publicas/">
                                <span class="col-11 align-self-center">
                                    <h4>Las huellas de las elecciones presidenciales en el Gasto de las Instituciones Públicas.</h4>
                                    <p class="small text-right fechas"><span class="glyphicon glyphicon-time"></span> 12/09/2017</p>
                                </span>
                                <span class="col-1 sinpadding align-self-center">
                                    <span class="text-left"><i class="material-icons azul">arrow_forward</i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12"><hr class="sinmargen" /></div>
                <div class="col-12">
                    <div class="selector">
                        <div class="cuadro-padding-interno">
                            <a class="row ult-height" href="https://goo.gl/1jDei">
                                <span class="col-11 align-self-center">
                                    <h4>Radiografía a la falta de control del Sename.</h4>
                                    <p class="small text-right fechas"><span class="glyphicon glyphicon-time"></span> 23/08/2017</p>
                                </span>
                                <span class="col-1 sinpadding align-self-center">
                                    <span class="text-left"><i class="material-icons azul">arrow_forward</i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12"><hr class="sinmargen" /></div>
                <div class="col-12">
                    <div class="selector">
                        <div class="cuadro-padding-interno">
                            <a class="row ult-height" href="http://www.observatoriofiscal.cl/ARCHIVOS/Biblioteca/Informe_de_Ejecucion_Mensual_Gobierno_Central_2017-07.pdf">
                                <span class="col-11 align-self-center">
                                    <h4>Informe de Ejecución del Gasto Fiscal a Julio de 2017.</h4>
                                    <p class="small text-right fechas"><span class="glyphicon glyphicon-time"></span> 06/09/2017</p>
                                </span>
                                <span class="col-1 sinpadding align-self-center">
                                    <span class="text-left"><i class="material-icons azul">arrow_forward</i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <aticle class="col-md-8">
        <div class="row">
            <article class="col-md-6 rowdiv">
                <div class="cuadro-contenido">
                    <div class="cuadro-padding">
                        <div class="row">
                            <div class="col-9">
                                <h2>Datos e indicadores</h2>
                            </div>
                            <div class="col-3 align-self-center text-right">
                                <a href="../../home/indicadores" class="btn btn-xs">Ver más</a>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-12"><hr class="sinmargen blancoB" /></div>
                            <div class="col-12">
                                <div class="row ult-height">
                                    <div class="col-8 align-self-center">
                                        <h4>Ingresos totales del Gobierno Central Total - 2016</h4>
                                        <p class="small">Millones pesos</p>
                                    </div>
                                    <div class="col-4 align-self-end">
                                        <h3 class="text-right">$35.245.706</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"><hr class="sinmargen" /></div>
                            <div class="col-12">
                                <div class="row ult-height">
                                    <div class="col-8 align-self-center">
                                        <h4>Deuda bruta Gobierno Central - 2016</h4>
                                        <p class="small">Millones pesos</p>
                                    </div>
                                    <div class="col-4 align-self-end">
                                        <h3 class="text-right">$35.610.201</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"><hr class="sinmargen" /></div>
                            <div class="col-12">
                                <div class="row ult-height">
                                    <div class="col-8 align-self-center">
                                        <h4>Gastos totales del Gobierno Central sobre PIB - 2016</h4>
                                        <p class="small">Porcentaje</p>
                                    </div>
                                    <div class="col-4 align-self-end">
                                        <h3 class="text-right">23,8%</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"><hr class="sinmargen" /></div>
                            <div class="col-12">
                                <div class="row ult-height">
                                    <div class="col-8 align-self-center">
                                        <h4>Ingresos totales del Gobierno Central Total - 2016</h4>
                                        <p class="small">Millones de USD</p>
                                    </div>
                                    <div class="col-4 align-self-end">
                                        <h3 class="text-right">usd 52.066</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-6">
                <div class="row">
                    <div class="col-md-12 rowdiv">
                        <div class="cuadro-chico cuadro-contenido cuadro-padding nuevoB">
                            <div class="div-absolute transparencia">
                                <img src="~/Content/images/isotipoblanco.png" class="img-fluid" width="90" />
                            </div>
                            <div class="div-relative">
                                <h3 class="text-center blanco"><b>Observatorio en acción</b></h3>
                                <p class="text-center">Conoce los proyectos colaborativos que estamos desarrollando para mejorar la rendición de cuentas públicas y la calidad del gasto en nuestro país</p>
                                <p class="text-center">
                                    <br />
                                    <a href="../proyecto" class="btn btn-transparente">Ver detalles</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 rowdiv">
                        <div class="cuadro-chico cuadro-contenido cuadro-padding naranjoB">
                            <div class="div-absolute transparencia">
                                <img src="~/Content/images/graf.png" class="img-fluid" width="150" />
                            </div>
                            <div class="div-relative">
                                <h3 class="blanco text-center"><b>Únete a la red de Observadores</b></h3>
                                <p class="sinmargen"><br /></p>
                                <h2 class="text-center blanco"><br />
                                <span class="small">Pronto mas información...</span>
                                    <br />
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-12 rowdiv">
                <div class="cuadro-contenido">
                    <div class="cuadro-padding">
                        <div class="row">
                            <div class="col-12">
                                <h2>Temas</h2>
                                <h6>Categorias principales de contenido.</h6>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-12">
                                <ul class="lista-inline">
                                    <li>
                                        <a href="../Etiqueta?nombre=Gobierno Central" name="1" class="tags-Busqueda"><h5 class="tags celeste">Gobierno Central</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Regional" name="2" class="tags-Busqueda"><h5 class="tags celeste">Regional</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Municipal" name="3" class="tags-Busqueda"><h5 class="tags celeste">Municipal</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Ley de Presupuesto" name="4" class="tags-Busqueda"><h5 class="tags celeste">Ley de Presupuesto</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Personal del Estado" name="4" class="tags-Busqueda"><h5 class="tags celeste">Personal del Estado</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Calidad de Datos" name="4" class="tags-Busqueda"><h5 class="tags celeste">Calidad de Datos</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Transparencia" name="4" class="tags-Busqueda"><h5 class="tags celeste">Transparencia</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Rendición de Cuentas" name="4" class="tags-Busqueda"><h5 class="tags celeste">Rendición de Cuentas</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Compras Públicas" name="4" class="tags-Busqueda"><h5 class="tags celeste">Compras Públicas</h5></a>
                                    </li>
                                    <li>
                                        <a href="../Etiqueta?nombre=Modernización del Estado" name="4" class="tags-Busqueda"><h5 class="tags celeste">Modernización del Estado</h5></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



            </article>
        </div>
    </aticle>
    <article class="col-md-4">
        <div class="row">
            <div class="col-md-6 rowdiv">
                <div class="cuadro-chico cuadro-contenido cuadro-padding rojoB">
                    <div class="div-absolute transparencia">
                        <i class="material-icons md-100">mail_outline</i>
                    </div>
                    <div class="div-relative">
                        <h3 class="text-center blanco"><b>Newsletter</b><br /><span class="small blanco">(mensual)</span></h3>
                        <p class="blanco sinmargen"><span class="small"><br /></span></p>
                        <div id="mc_embed_signup">
                            <form action="//observatoriofiscal.us16.list-manage.com/subscribe/post?u=f88d4a57bb01de7171ed05d21&amp;id=deb52d1143" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="correo electronico" style="font-size: 13px;text-align: center;border-bottom: 1px solid #fdbdbd;color: white;" required>
                                    <p class="sinmargen"><br /><br /></p>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f88d4a57bb01de7171ed05d21_deb52d1143" tabindex="-1" value=""></div>
                                    <div class="sinmargen text-center">
                                        <input type="submit" value="Suscribir" name="subscribe" id="mc-embedded-subscribe" class="btn btn-transparente">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rowdiv">
                <div class="cuadro-chico cuadro-contenido cuadro-padding verdeB">
                    <div class="div-absolute transparencia">
                        <i class="material-icons md-100">local_cafe</i>
                    </div>
                    <h3 class="text-center blanco"><b>#CaféCargado</b></h3>
                    <p class="blanco">Una recopilación con las noticias más importantes de la semana en relación a cómo gasta el Estado.<br /><br /></p>
                    <p class="text-center sinmargen">
                        <a href="http://observatoriofiscal.cl/Blog/category/cafe-cargado/" class="btn btn-transparente">Ir a Sección</a>
                    </p>
                </div>
            </div>
            <div class="col-md-12 rowdiv">
                <div class="cuadro-contenido ">
                    <div class="cuadro-padding">
                        <div class="row">
                            <div class="col-9">
                                <h2>Noticias Observatorio</h2>
                            </div>
                            <div class="col-3 align-self-center text-right">
                                <a href="../noticia" class="btn btn-xs">Ver más</a>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="slider">
                        <ul>
                            <li>
                                <a href="http://observatoriofiscal.cl/Blog/2017/09/observatorio-firma-acuerdo-con-municipios-y-consejo-para-la-transparencia-para-una-rendicion-de-gasto-amigable/">
                                    <img src="~/Content/images/noticia/1.jpg" alt="Observatorio firma acuerdo con municipios y Consejo para la Transparencia para una rendición de gasto amigable">
                                    <div class="cuadro-padding">
                                        <h4 class="ult-height">Observatorio firma acuerdo con municipios y Consejo para la Transparencia para una rendición de gasto amigable</h4>
                                        <p class="sinmargen"><br /></p>
                                        <p class="small text-right">29/09/2017</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://observatoriofiscal.cl/Blog/2017/09/beneficioso-taller-para-periodistas-sobre-el-presupuesto-de-la-nacion/">
                                    <img src="~/Content/images/noticia/2.jpg" alt="Beneficioso taller para periodistas sobre el Presupuesto de la Nación.">
                                    <div class="cuadro-padding">
                                        <h4 class="ult-height">Beneficioso taller para periodistas sobre el Presupuesto de la Nación.</h4>
                                        <p class="sinmargen"><br /></p>
                                        <p class="small text-right">29/09/2017</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://observatoriofiscal.cl/Blog/2017/07/steven-adler-llega-a-chile-a-dar-charla-sobre-uso-de-datos-en-el-sector-publico/">
                                    <img src="~/Content/images/3.jpg" alt="Steven Adler en Chile por charla sobre uso de datos en el sector público">
                                    <div class="cuadro-padding">
                                        <h4 class="ult-height">Steven Adler en Chile por charla sobre uso de datos en el sector público.</h4>
                                        <p class="sinmargen"><br /></p>
                                        <p class="small text-right">26/07/2017</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://impresa.elmercurio.com/Pages/NewsDetail.aspx?dt=2017-06-04&dtB=04-06-2017%200:00:00&PaginaId=7&bodyid=10">
                                    <img src="~/Content/images/4.jpg" alt="Observatorio del Gasto Fiscal y Consejo para la Transparencia firman convenio">
                                    <div class="cuadro-padding">
                                        <h4 class="ult-height">Observatorio del Gasto Fiscal y Consejo para la Transparencia firman convenio.</h4>
                                        <p class="sinmargen"><br /></p>
                                        <p class="small text-right">04/06/2017</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="text-center">
                            <a class="radio" onclick="cambiar(1)"><i class="material-icons md-18">adjust</i></a>
                            <a class="radio" onclick="cambiar(2)"><i class="material-icons md-18">adjust</i></a>
                            <a class="radio" onclick="cambiar(3)"><i class="material-icons md-18">adjust</i></a>
                            <a class="radio" onclick="cambiar(4)"><i class="material-icons md-18">adjust</i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>


@section Scripts{
    <script>
        function cambiar(id) {
            $(".slider").children('ul').css("animation","cambio"+ id+" 20s infinite alternate linear");
        }
        
        $(document).ready(function () {
            $("#Destacado1").hover(function () {
                $(".item-destacado-1").removeClass("hidden");
                $(".item-destacado-2").addClass("hidden");
                $(".item-destacado-3").addClass("hidden");
                $(".item-destacado-4").addClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado1").addClass("elegido");
            })
            $("#Destacado2").hover(function () {
                $(".item-destacado-1").addClass("hidden");
                $(".item-destacado-2").removeClass("hidden");
                $(".item-destacado-3").addClass("hidden");
                $(".item-destacado-4").addClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado2").addClass("elegido");
            })
            $("#Destacado3").hover(function () {
                $(".item-destacado-1").addClass("hidden");
                $(".item-destacado-2").addClass("hidden");
                $(".item-destacado-3").removeClass("hidden");
                $(".item-destacado-4").addClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado3").addClass("elegido");
            })

            $("#Destacado4").hover(function () {
                $(".item-destacado-1").addClass("hidden");
                $(".item-destacado-2").addClass("hidden");
                $(".item-destacado-3").addClass("hidden");
                $(".item-destacado-4").removeClass("hidden");

                $(".bar-destacado").removeClass("elegido");
                $("#Destacado4").addClass("elegido");
            })
        });
    </script>
}