
@{
    ViewData["Resumen"] = "Somos una iniciativa sin fines de lucro integrada por personas de diversas visiones políticas y experiencias, pero con un objetivo común: contribuir vía la generación de información a un gasto público eficiente y centrado en las necesidades reales de las personas.";
    ViewData["menu11"] = "active";
    ViewData["Titulo"] = "Nosotros | Observatorio Fiscal";
}

<div class="row cuadro-contenido">
    <div class="cuadro-padding">
        <section class="col-md-12">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h2 class="text-center conmargen">"Creemos en el uso de la Tecnología para el Cambio Social"</h2>
                    <p class="text-left conmargen">
                        Somos una iniciativa sin fines de lucro integrada por personas de diversas visiones políticas y experiencias, pero con un objetivo común: contribuir vía la generación de información a un gasto público eficiente y centrado en las necesidades reales de las personas.<br /><br />
                        El Observatorio es un proyecto conjunto entre la Facultad de Administración y Economía de la Universidad de Santiago de Chile y la Fundación Contexto Ciudadano.
                    </p>
                </div>
                <div class="col-md-6 ">
                    <figure class="text-center">
                        <img class="img-fluid" src="~/Content/images/ampolleta.png" alt="Creemos en el uso de la Tecnología para el Cambio Social" />
                    </figure>
                </div>
            </div>
            <hr class="conmargen celesteB" />
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">¿Qué Hacemos?<br /><br /></h3>
                        </div>
                        <div class="col-md-12">
                            <div class="cuadro-contenido" style="margin-bottom:30px; margin-top:10px">
                                <div class="row">
                                    <div class="col-3 align-self-center">
                                        <p class="text-center">
                                            <i class="material-icons md-36 celesteB img-redondear conpadding">assessment</i>
                                        </p>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <p>Generamos y compartimos conocimiento sobre el gasto público a los ciudadanos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cuadro-contenido" style="margin-bottom:30px">
                                <div class="row">
                                    <div class="col-3 align-self-center">
                                        <p class="text-center">
                                            <i class="material-icons md-36 celesteB img-redondear conpadding">add_location</i>
                                        </p>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <p>Analizamos los datos del gasto público y reportamos hallazgos relevantes y de interés</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cuadro-contenido" style="margin-bottom:30px">
                                <div class="row">
                                    <div class="col-3 align-self-center">
                                        <p class="text-center">
                                            <i class="material-icons md-36 celesteB img-redondear conpadding">people</i>
                                        </p>
                                    </div>
                                    <div class="col-9 align-self-center">
                                        <p>Cooperamos con los servicios públicos para mejorar su rendición de cuentas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">¿Por qué lo hacemos?<br /><br /></h3>
                        </div>
                        <div class="col-md-12">
                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/J5KfJB1R0cY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>


            <hr class="conmargen celesteB" />
            <div class="row">
                <div class="col-md-6">
                    <h2 class="celeste">Visión</h2>
                    <p>Alcanzar una sociedad chilena consciente e interesada en la promoción de un gasto público eficiente y centrado en las necesidades reales de las personas.</p>

                </div>
                <div class="col-md-6">
                    <h2 class="celeste">Nuestros Objetivos</h2>
                    <p>
                        1.- Un ciudadano interesado y mejor informado sobre la asignación y uso de los recursos públicos.<br /><br />
                        2.- Transparencia efectiva en las distintas instituciones públicas chilenas.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2 class="celeste">Misión</h2>
                    <p>Desarrollar iniciativas destinadas a generar una evaluación ciudadana del gasto público y a promover, con ello, una mejor rendición de cuentas en Chile.</p>
                </div>
                <div class="col-md-6">
                    <h2 class="celeste">¿Qué impacto esperamos?</h2>
                    <p>
                        <strong><i class="material-icons md-24">add</i></strong> Confianza de los ciudadanos en las instituciones públicas.<br /><br />
                        <strong><i class="material-icons md-24">add</i></strong> Alineación del gasto público con los intereses ciudadanos en un marco de eficiencia y equidad.
                    </p>
                </div>
            </div>
            <hr class="conmargen celesteB" />
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Nuestro Equipo<br /><br /></h3>
                    <ul data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header celesteB"><p class="sinmargen"><i class="material-icons md-36">people_outline</i> Equipo</p></div>
                            <div class="collapsible-body selecc">
                                <div class="row">
                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/jeannette.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">Jeannette von Wolfersdorff</a></h5>
                                                                <h6>Directora Ejecutiva</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">Sueño de una sociedad más integrada, más justa y mejor informada, consciente del potencial que hay para todos cuando no existan abusos de poder - sean de monopolios privados o públicos.</p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    <a href="https://www.linkedin.com/in/jeannette-von-wolfersdorff-b11418107/" target="_blank">Linkedin</a>
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    @*<article class="col-md-6 rowdiv div-item-aplicacion">
                                            <div class="cuadro-contenido">
                                                <div class="div-relative">
                                                    <img src="~/Content/images/personas/orlando.jpg" class="" />
                                                    <div class="capablanca capablanca2"></div>
                                                    <div class="cuadro-padding">
                                                        <div class="row">
                                                            <div class="col-3"></div>
                                                            <div class="col-9">
                                                                <header>
                                                                    <h5><a href="">Orlando Rojas </a></h5>
                                                                    <h6>Director de Proyectos</h6>
                                                                    <hr />
                                                                </header>
                                                                <section>
                                                                    <p class="cuadro-texto">Las instituciones las forman personas, y si todos podemos mejorar, las instituciones también.<br /><br /><br /></p>
                                                                </section>
                                                                <footer>
                                                                    <p class="text-right sinmargen">
                                                                        <a href="https://www.linkedin.com/in/orlando-rojas/" target="_blank">Linkedin</a>
                                                                    </p>
                                                                </footer>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>*@

                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/jose.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">José Mora</a></h5>
                                                                <h6>Investigador y analista de datos</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">Convencido del potencial que tienen los datos abiertos para mejorar Chile.<br /><br /><br /></p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    <a href="https://www.linkedin.com/in/jose-mora-gonzalez/" target="_blank">Linkedin</a>
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/manuel.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">Manuel Henriquez </a></h5>
                                                                <h6>Investigador</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">Convencidos de la ecuación = calidad de datos + accesibilidad + usabilidad = rendición de cuentas efectiva<br /><br /><br /></p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    <a href="#">Linkedin</a>
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/luis.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">Luis Miguel León </a></h5>
                                                                <h6>Analista de TI y Desarrollo</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">Las nuevas tecnologías deben tener su enfoque en la ayuda de la sociedad con mayor acceso y transparencia. Las decisiones se deben tomar con datos de respaldo y no con corazonadas.</p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    <a href="https://www.linkedin.com/in/lmleon" target="_blank">Linkedin</a>
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/carlos.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">Carlos David Carrasco</a></h5>
                                                                <h6>Coordinador de Networking y Comunicaciones</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">Si queremos una democracia más fuerte. Las sociedades debemos impulsar una nueva cultura política más abierta y transparente.<br /><br /></p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    <br />
                                                                    <a href="https://www.linkedin.com/in/carlosdavidcarrascomuro/" target="_blank">Linkedin</a>
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><p class="sinmargen"><i class="material-icons md-18 md-36">people</i> Investigadores Asociados</p></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/jorge.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">Jorge Rodriguez</a></h5>
                                                                <h6>Investigador asociado</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">Estamos en un momento en el que la transparencia de gobierno, para ser efectiva, debe dejar de ser solo técnica y pasar a ser más ciudadana.<br /><br /><br /></p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    @*<a href="https://www.linkedin.com/in/denise-laroze-0a13a410/" target="_blank">Linkedin</a>*@
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/luisdiaz.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">Luis Diaz</a></h5>
                                                                <h6>Investigador asociado</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">Un mayor y más equitativo desarrollo del país requiere de políticas públicas eficientes, eficaces y legitimas. Para ello, la calidad de la información, el acceso oportuno a ella y la transparencia de la gestión pública son elementos que potencialmente pueden hacer diferencia<br /></p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    @*<a href="https://www.linkedin.com/in/carlosdavidcarrascomuro/" target="_blank">Linkedin</a>*@
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="col-md-6 rowdiv div-item-aplicacion">
                                        <div class="cuadro-contenido">
                                            <div class="div-relative">
                                                <img src="~/Content/images/personas/raul.jpg" class="" />
                                                <div class="capablanca capablanca2"></div>
                                                <div class="cuadro-padding">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-9">
                                                            <header>
                                                                <h5><a href="">Raul Aguilar</a></h5>
                                                                <h6>Investigador asociado</h6>
                                                                <hr />
                                                            </header>
                                                            <section>
                                                                <p class="cuadro-texto">El acceso de la información puede ser una oportunidad para estimular la participación  de la cuidadanìa y perfeccionar los sistemas de rendición de cuentas por parte del estado. Mas transparencia, mejores decisiones, mas democracia.<br /></p>
                                                            </section>
                                                            <footer>
                                                                <p class="text-right sinmargen">
                                                                    <a href="https://www.linkedin.com/in/raul-aguilar-barrientos-7b7a93165/" target="_blank">Linkedin</a>
                                                                </p>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><p class="sinmargen"><i class="material-icons md-18 md-36">people</i> Comité Directivo</p></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <b>Guillermo Larraín <small>(Presidente)</small></b> Economista de la Universidad Católica y PhD en Economía, Paris School of Economics - Ex-Presidente del BancoEstado ; ex-Superintendente de AFP y ex-Superintendente de Valores y Seguros, economista, académico de la FEN, investigador y consultor.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Christoph Schiess <small>(Secretario)</small></b> - Presidente de Endeavour (http://www.endeavor.cl/), Socio de Igneous (http://www.igneous.cl/) y Presidente de Empresas Transoceanica (https://www.transoceanica.cl).
                                            </li>
                                            <li class="list-group-item">
                                                <b>Jorge Friedmann <small>(Director)</small></b> - Decano, Facultad de Administración y Economía, Universidad de Santiago de Chile.
                                                Ph.D. Economía, Universidad de California, Berkeley, U.S.A., Magister en Economía, ESCOLATINA, Universidad de Chile
                                                Ingeniero Comercial, Universidad de Chile.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Manuela Garretón <small>(Director)</small></b> - Docente e investigadora en la Escuela de Diseño de la PUC, además directora deCiudad Emergente. Profesionalmente diseña visualizaciones de datos interactivose interfaces digitales a través del estudio Diseñadora UC; Master en Interactive Telecommunications Program en New York University.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Gonzalo Sánchez <small>(Director)</small></b> - Abogado especialista en propiedad intelectual y nuevas tecnologías, Juez arbitro NIC Chile, artista (https://www.pikti.com), socio de la Galeria de Arte Ojo Rojo y Presidente de la Fundación Hacer Chile (https://www.hacerchile.cl/quienes-somos)
                                            </li>
                                            <li class="list-group-item">
                                                <b>Ramiro Mendoza <small>(Director)</small></b> - Ex Contralor General de la República; socio del bufete de abogados Momag, Decano de la Facultad de Derecho de la Universidad Adolfo Ibáñez y Socio de empresas (CMPC y Clínica Las Condes).
                                            </li>
                                            <li class="list-group-item">
                                                <b>Alejandro Ferreiro <small>(Director)</small></b> - Ex Presidente del Consejo para la Transparencia, ex-Ministro de Economia, Consejero de Espacio Público, abogado, académico, investigador, consultor y director de empresas (Andescan, Corpvida, entre otros).
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rodrigo Valdés <small>(Director)</small></b> - Profesor asociado de la Escuela de Gobierno de la PUC. Fue Ministro de Hacienda de Chile y también Presidente de BancoEstado. Ingeniero Comercial de la U. de Chile y doctor del MIT.
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><p class="sinmargen"><i class="material-icons md-18 md-36">people</i> Consejo Asesor</p></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        El Consejo Asesor del Observatorio Fiscal es una instancia de carácter consultiva, cuya función es asesorar al Comité Directivo y brindar su opinión experta en relación a los ejes estratégicos definidos en el cumplimiento de su misión, ya sea respecto del análisis del presupuesto de las instituciones de la Administración del Estado, así como de los proyectos destinados a la mejora de la rendición de cuentas públicas.<br /><br /><br />
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <b>José Pablo Arellano</b> - Investigador Senior y miembro del directorio de CIEPLAN. Se ha desempañado como ministro de Educación y Director de Presupuestos del Ministerio de Hacienda, entre otros.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Benito Baranda</b> - Presidente Ejecutivo de América Solidaria. Entre 1991 y 2001 fue Director del Hogar de Cristo. También ha participado en organismos como la Fundación para la Superación de la Pobreza, siendo su presidente entre 1999 y 2001, y en el Fondo de Solidaridad e Inversión Social (FOSIS).
                                            </li>
                                            <li class="list-group-item">
                                                <b>Víctor Carvajal</b> - Periodista de la Universidad de Chile. Ex director del diario La Segunda, ex periodista de investigación de Ciper Chile. Actualmente es colaborador de la Fundación Sociedad Anónima.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Miguel Ángel Cornejo</b> - Miembro de la Sociedad Chilena de Políticas Públicas. Director Académico del Diploma de postítulo en Gestión Financiera de Instituciones Públicas y del Diploma en Normas Internacionales de Contabilidad para la Administración Pública, ambos de la Universidad de Chile. Posee un Master en Gobierno y Gerencia Pública de la Universidad de Chile.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Claudio Fuentes</b> - Académico de la Escuela de Ciencia Política de la Universidad Diego Portales. Fue director de FLACSO-Chile entre el 2004 y 2008, y Presidente de la Asociación Chilena de Ciencia Política desde el 2004 hasta el 2006.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Rocío Noriega</b> - Asesora del Grupo Bicameral de Transparencia del Congreso Nacional de Chile. Anteriormente, se desempeñó como asesora de Gobernabilidad, Ética y Transparencia en el Área de Gobernabilidad del PNUD. *Debido a su trabajo en el Congreso, se abstiene de discutir cualquier tema relacionado con el Poder Legislativo.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Hernan Orellana</b> - Director Ejecutivo del Centro de Excelencia Internacional de I+D de Telefónica. Se ha desempañado como Secretario General de la Asociación Chilena de Empresas de Tecnología de Información (ACTI).
                                            </li>
                                            <li class="list-group-item">
                                                <b>Francisca Riveros</b> - Ex Directora Programática Fundación AVINA y miembro del Comité Consultivo Energía 2050.
                                            </li>
                                            <li class="list-group-item">
                                                <b>Klaus Schmidt-Hebbel</b> - Director de empresas, consultor internacional y profesor de Economía de la Universidad Católica de Chile. Ha sido economista jefe de la Organización para la Cooperación y el Desarrollo Económico (OCDE).
                                            </li>
                                            <li class="list-group-item">
                                                <b>Magdalena Valdés</b> - Directora Ejecutiva de J-PAL Latinoamérica y el Caribe. Posee un MPA en Políticas Públicas y Economía de la London School of Economics and Political Science (LSE) y una Maestría en Finanzas de la Universidad Adolfo Ibáñez.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><p class="sinmargen"><i class="material-icons md-18 md-36">people</i> Red de Observadores</p></div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        La red de observadores constituye un grupo de colaboradores voluntarios que comparten los valores y visión del Observatorio y desarrollan de forma independiente análisis orientados a mejorar la rendición de cuentas públicas del país
                                        <br /><br />
                                        Para unirte a esta red envíanos un correo a <a href="mailto:contacto@observatoriofiscal.cl">contacto@observatoriofiscal.cl</a> y nos contactaremos contigo.<br /><br />
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-group">
                                            <li class="list-group-item">Jorge Brito</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-group">
                                            <li class="list-group-item">Alejandro Sierra</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-group">
                                            <li class="list-group-item">Jean Pierre Chiffelle</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="conmargen celesteB" />
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Nuestros Convenios<br /><br /></h3>
                    <div class="row">
                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-md-4 align-self-center">
                                        <a target="_blank" href=" http://www.avina.net/avina/"><img src="~/Content/images/convenio/avina.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-md-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.avina.net/avina/">Fundación Avina</a></h4>
                                            <h6>Alianza comunicacional<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/avina.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.chiletransparente.cl/"><img src="~/Content/images/convenio/chiletransparente.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.chiletransparente.cl/">Chile Transparente</a></h4>
                                            <h6>Alianza estratégica<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/ChileTransparente.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.kas.de/chile/es/"><img src="~/Content/images/convenio/konrad.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.kas.de/chile/es/">Konrad Adenauer Stiftung</a></h4>
                                            <h6>Colaboración económica<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/Konrad.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.lab.gob.cl/"><img src="~/Content/images/convenio/labgobierno.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.lab.gob.cl/">Laboratorio de Gobierno</a></h4>
                                            <h6>Colaboración económica<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/LabGobierno.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" https://www.penalolen.cl/"><img src="~/Content/images/convenio/penalolen.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" https://www.penalolen.cl/">Municipalidad de Peñalolén</a></h4>
                                            <h6>Proyecto colaborativo<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/Penalolen.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.recoleta.cl/"><img src="~/Content/images/convenio/recoleta.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.recoleta.cl/">Municipalidad de Recoleta</a></h4>
                                            <h6>Proyecto colaborativo<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/Recoleta.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.vitacura.cl/"><img src="~/Content/images/convenio/vitacura_logo.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.vitacura.cl/">Municipalidad de Vitacura</a></h4>
                                            <h6>Proyecto colaborativo<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/Vitacura.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.chilecompra.cl/"><img src="~/Content/images/convenio/chilecompra_logo.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.chilecompra.cl/">ChileCompra</a></h4>
                                            <h6>Proyecto colaborativo<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/chilecompra.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.inapi.cl"><img src="~/Content/images/convenio/inapi_logo.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.inapi.cl/">INAPI</a></h4>
                                            <h6>Proyecto colaborativo<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/inapi.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rowdiv">
                            <div class="cuadro-contenido">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <a target="_blank" href=" http://www.rapanui.net/"><img src="~/Content/images/convenio/islapascua.png" class="img-fluid center-block" /></a>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <div class="cuadro-padding-interno">
                                            <h4><a target="_blank" href=" http://www.rapanui.net/">Municipalidad de Isla de Pascua</a></h4>
                                            <h6>Proyecto colaborativo<br /><br /></h6>
                                            <hr />
                                            <p class="text-right sinmargen">
                                                <a target="_blank" href=" ../../ARCHIVOS/convenio/Rapanui.pdf" class="btn"><i class="material-icons">file_download</i>Convenio</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="conmargen celesteB" />
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Nuestra Memoria y Financiamiento<br /><br /></h3>
                    <p class="text-center">
                        <a class="btn" href="http://observatoriofiscal.cl/ARCHIVOS/biblioteca/FECU_Social_Observatorio-Contexto_Ciudadano_2016.pdf" target="_blank"><i class="material-icons">file_download</i> FECU - Observatorio Fiscal 2016</a>
                        <a class="btn" href="http://observatoriofiscal.cl/ARCHIVOS/biblioteca/FECU_Social_Observatorio-Contexto_Ciudadano_2017.pdf" target="_blank"><i class="material-icons">file_download</i> FECU - Observatorio Fiscal 2017</a>
                    </p>
                </div>
            </div>
            <hr class="conmargen celesteB" />
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Invitación a Donar</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <br /><br />
                                "Cuánto gasta el gobierno para mi región?”, “cómo fue el desempeño del gasto público?” y ”cuánto se gastará por un determinado objetivo?” son preguntas que teníamos cuando creamos el Observatorio del Gasto Fiscal. También “quiénes son las personas beneficiadas por el gasto público?” y “quiénes son las personas naturales que están detrás de las empresas que se adjudican compras públicas?”.<br /><br />
                                Para nuestro asombro, no es posible responder de forma clara ninguna de estas preguntas, con los datos que hoy día tenemos disponibles sobre el gasto público, desde la sociedad civil.<br /><br />
                                Si personas interesadas en informarse sobre el gasto público tienen dificultades para informarse: ¿cómo entonces podríamos entusiasmar a otros ciudadanos a sumarse a ejercer un control ciudadano sobre los fondos públicos?<br /><br />
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <br /><br />
                                Eso fue una de las razones principales para crear el Observatorio del Gasto Fiscal, iniciativa sin fines de lucro y apartidista, con la misión de desarrollar iniciativas destinadas a generar una evaluación ciudadana del gasto público y a promover una mejor rendición de cuentas públicas de Chile.<br /><br />
                                Nos inspira aumentar el control ciudadano a los fondos públicos. Aún más ojos que miran el gasto público, mejor será su calidad y eficiencia, y menor el espacio discrecional que facilita la corrupción.<br /><br />
                                Según datos nuestros, en Chile hay al menos 1.210.132 personas interesadas de forma directa en saber más del gasto público. Si solo un 2% de estas personas donarían $10.000 al año, nuestro Observatorio estaría 100% financiado.<br /><br />
                            </p>
                        </div>
                    </div>
                    <p class="text-center">
                        Por favor, considéralo o lo que puedas contribuir para ayudar a mantener el Observatorio del Gasto Fiscal en Chile.<br /><br /><br /><br /><br />
                    </p>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 rowdiv align-self-center">
                            <div class="cuadro-contenido" style="width:360px; margin: 0 auto">
                                <div style="width:360px; bottom: 0; position: absolute;">
                                    <img src="~/Content/images/graf2.png" alt="grafo" class="img-fluid" width="360" />
                                </div>
                                <div class="div-relative" style="width:360px">
                                    <h3 class="blanco text-center">
                                        <b>¿Te gusta lo que hacemos?</b>
                                        <small>
                                            <br /><br />
                                            Ayúdanos a mantener este trabajo para beneficio de los ciudadanos!<br /><br />
                                        </small>
                                    </h3>
                                    <p class="text-center blanco">
                                        <a href="https://observatoriofiscal.cl/Home/Donacion" class="btn btn-transparente">¡Ayudanos!</a>
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts
    {
    <script>
        $(".collapsible-header").click(function () {
            //$(".collapsible-body").removeClass("selecc");
            $(".collapsible-header").removeClass("celesteB");
            $(this).siblings(".collapsible-body").addClass("selecc");
            $(this).addClass("celesteB");
        });

    </script>
}


