@using ActionMailer.Net
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Correo Pagina Web:</title>
</head>
<body>
    <p>
        @ViewBag.nombre
        <br />
        <br />
        @ViewBag.empresa
        <br />
        <br />
        @ViewBag.email
        <br />
        <br />
        @ViewBag.comentario
        <br />
        <br />
        <br />
        Correo enviado automaticamente, no responder.
    </p>
</body>
</html>
